<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">

    <head>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.0/dist/chartjs-plugin-zoom.min.js"></script>

        {{- partial "head.html" . -}}
    </head>

    <body>
        <div class="page">

            <header class="page__header">
                {{- partial "header.html" . -}}
            </header>

            <section class="page__body">
                {{- block "main" . }}{{- end }}
            </section>

            {{/*  <section class="page__aside">
                <div class="aside__about">
                    {{- partial "about.html" . -}}
                </div>
                <hr>
                <div class="aside__content">
                    {{- block "aside" . }}{{- end }}
                </div>
            </section>  */}}

            <footer class="page__footer">
                {{- partial "footer.html" . -}}
            </footer>

        </div>
    </body>

</html>
