<h1>Legend</h1> 
<div style="display: flex; gap:1rem;min-width: max-content;">
	<div style="display: flex; flex-direction:column; gap:0.5rem;">
		<h2>Thermal Generations</h2>
		<div style="display: flex; gap:1rem; align-items:center;">
			{{- partial "thermalicon.html" (dict "isThermal" true "resolution" (slice 500 300)) -}}
			500x300
		</div>
		<div style="display: flex; gap:1rem; align-items:center;">
			{{- partial "thermalicon.html" (dict "isThermal" true "resolution" (slice 800 600)) -}}
			800x600
		</div>
		<div style="display: flex; gap:1rem; align-items:center;">
			{{- partial "thermalicon.html" (dict "isThermal" true "resolution" (slice 1024 768)) -}}
			1024x768
		</div>
		<div style="display: flex; gap:1rem; align-items:center;">
			{{- partial "thermalicon.html" (dict "isThermal" true "resolution" (slice 1200 800)) -}}
			1200x800
		</div>
		<div style="display: flex; gap:1rem; align-items:center;">
			{{- partial "thermalicon.html" (dict "isThermal" true "resolution" (slice 1920 1080)) -}}
			1920x1080
		</div>
	</div>
	<div style="display: flex; flex-direction:column; gap:0.5rem;">
		<h2>Night Vision Generations</h2>
		<div style="display: flex; gap:1rem; align-items:center;">
			{{- partial "thermalicon.html" (dict "isThermal" false "resolution" (slice 800 600)) -}}
			800x600
		</div>
		<div style="display: flex; gap:1rem; align-items:center;">
			{{- partial "thermalicon.html" (dict "isThermal" false "resolution" (slice 1024 768)) -}}
			1024x768
		</div>
		<div style="display: flex; gap:1rem; align-items:center;">
			{{- partial "thermalicon.html" (dict "isThermal" false "resolution" (slice 1200 800)) -}}
			1200x800
		</div>
		<div style="display: flex; gap:1rem; align-items:center;">
			{{- partial "thermalicon.html" (dict "isThermal" false "resolution" (slice 1600 1200)) -}}
			1600x1200
		</div>
		<div style="display: flex; gap:1rem; align-items:center;">
			{{- partial "thermalicon.html" (dict "isThermal" false "resolution" (slice 1920 1080)) -}}
			1920x1080
		</div>
	</div>
	<div style="display: flex; flex-direction:column; gap:0.5rem;">
		<h2>Icons</h2>
		<div style="display: flex; gap:1rem; align-items:center;">
			<img style="width:1.5rem;" src="/gunner.svg">  Gunner
		</div>
		<div style="display: flex; gap:1rem; align-items:center;">
			<img style="width:1.5rem;" src="/commander.svg"> Sight
		</div>
		<div style="display: flex; gap:1rem; align-items:center;">
			<img style="width:1.5rem;" src="/pilot.svg"> Pilot
		</div>
		<div style="display: flex; gap:1rem; align-items:center;">
			<img style="width:1.5rem;" src="/tpod.svg"> Pod
		</div>
	</div>
	<div style="display: flex; flex-direction:column; gap:0.2rem;padding-top:2rem;">
		<div style="display: flex; gap:1rem; align-items:center;">
			<img style="width:1.5rem;" src="/heli.svg"> Helicopter
		</div>
		<div style="display: flex; gap:1rem; align-items:center;">
			<img style="width:1.5rem;" src="/airplane.svg"> Airplane 
		</div>
	</div>
	<div style="display: flex; flex-direction:column; gap:0.2rem;">
		<h2>Gen 1 Thermals</h2>
		<img style="width:10rem;" src="/resolution/gen1.png">
	</div>
	<div style="display: flex; flex-direction:column; gap:0.2rem;">
		<h2>Gen 2 Thermals</h2>
		<img style="width:10rem;" src="/resolution/gen2.png">
	</div>
	<div style="display: flex; flex-direction:column; gap:0.2rem;">
		<h2>Gen 3 Thermals</h2>
		<img style="width:10rem;" src="/resolution/gen3.png">
	</div>
</div>