<table class="thermal" style="background: #141e24; min-width: max-content;margin: 0.3rem;">
	<tr>
	  <th>Missile</th>
	  <th>Overload</th>
	  <th>Speed</th>
	  <th>Explosive Mass</th>
	  <th>Range</th>
	  <th>Proxy</th>
	  <th>Leading</th> 
	</tr>
{{- range $i, $val := $.Site.Data.gamedata.weapons.groundmodels_weapons  }}
	{{- if .bullet }}
	{{- if gt (len .bullet) 5}}
		{{- if eq .bullet.rocket.bulletType "sam_tank" }}
			{{- $name := partial "missilename.html" (dict "missilename" .bullet.bulletName) }}
			{{- if $name }} 
				<tr>
					<td style="text-align: left;position:relative;width:7rem;vertical-align:middle;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;">
						{{- $name -}}
					</td>
					<td style="width:5rem;">
						{{- .bullet.rocket.loadFactorMax }}G
					</td>
					<td style="width:5rem;">
						{{- .bullet.rocket.endSpeed }}m/s
					</td>
					<td style="width:8rem;">
						{{- $equiv := (index $.Site.Data.gamedata.damage_model.explosive.explosiveTypes .bullet.rocket.explosiveType)}}
						{{- partial "round.html" (dict "num" (mul $equiv.strengthEquivalent .bullet.rocket.explosiveMass) "power" 2 )}}Kg TNT
					</td>
					<td style="width:5rem;">
						{{- .bullet.rocket.maxDistance }}m
					</td>
					<td style="width:4rem;">
						{{- if .bullet.rocket.proximityFuse }}
							{{- .bullet.rocket.proximityFuse.radius }}m
						{{- end }}
					</td>
					<td style="width:5rem;">
						{{- if .bullet.rocket.guidance }}
							{{- .bullet.rocket.guidance.leading }}
						{{- end }}
					</td>
				</tr>
				{{- end }}
			{{- end }}
		{{- end }}
		{{- end }}
	{{- end }}
</table>