{{- $sams := slice }}

{{- range $i, $val := $.Site.Data.gamedata.weapons.groundmodels_weapons  }}
	{{- if and .bullet (gt (len .bullet) 5) (or (eq .bullet.bulletType "sam_tank") (and .bullet.rocket (eq .bullet.rocket.bulletType "sam_tank"))) }}
		{{- $name := partial "missilename.html" (dict "missilename" .bullet.bulletName) }}
		{{- if not $name }}{{- $name = .bullet.bulletName }}{{- end }}
		{{- if $name }}
			{{- $found := false }}
			{{- range $j, $sam := $sams }}
				{{- if eq $sam.name $name }}
					{{- $found = true }}
				{{- end }}
			{{- end }}
			{{- if not $found }}
				{{- with .bullet.rocket }}
					{{- if or (not .proximityFuse) (and .proximityFuse.detectAirUnits (not .proximityFuse.detectGroundUnits) (not .proximityFuse.detectGround)) }}
						{{- $sams = $sams | append (dict "name" $name "val" .) }}
					{{- end }}
				{{- end }}
			{{- end }}
		{{- end }}
	{{- end }}
	{{- if and .rocket (gt (len .rocket) 5) (eq .rocket.bulletType "sam_tank") }}
		{{- $name := partial "missilename.html" (dict "missilename" .rocket.bulletName) }}
		{{- if not $name }}{{- $name = .rocket.bulletName }}{{- end }}
		{{- if $name }}
			{{- $found := false }}
			{{- range $j, $sam := $sams }}
				{{- if eq $sam.name $name }}
					{{- $found = true }}
				{{- end }}
			{{- end }}
			{{- if not $found }}
				{{- if or (not .rocket.proximityFuse) (and .rocket.proximityFuse.detectAirUnits (not .rocket.proximityFuse.detectGroundUnits) (not .rocket.proximityFuse.detectGround)) }}
					{{- $sams = $sams | append (dict "name" $name "val" .rocket) }}
				{{- end }}
			{{- end }}
		{{- end }}
	{{- end }}

	{{- range $k, $sub := $val }}
		{{- if strings.HasSuffix $k "_aam" }}
			{{- $bullet := (index $sub "bullet") }}
			{{- with $bullet }}
				{{- if and (gt (len .) 5) (or (eq .bulletType "sam_tank") (and .rocket (eq .rocket.bulletType "sam_tank"))) }}
					{{- $name := partial "missilename.html" (dict "missilename" .bulletName) }}
					{{- if not $name }}{{- $name = .bulletName }}{{- end }}
					{{- if $name }}
						{{- $found := false }}
						{{- range $j, $sam := $sams }}
							{{- if eq $sam.name $name }}
								{{- $found = true }}
							{{- end }}
						{{- end }}
						{{- if not $found }}
							{{- with .rocket }}
								{{- if or (not .proximityFuse) (and .proximityFuse.detectAirUnits (not .proximityFuse.detectGroundUnits) (not .proximityFuse.detectGround)) }}
									{{- $sams = $sams | append (dict "name" $name "val" .) }}
								{{- end }}
							{{- end }}
						{{- end }}
					{{- end }}
				{{- end }}
			{{- end }}
		{{- end }}
	{{- end }}
{{- end }}

<table class="spaced sam-table" data-sortable="true" data-test="sam-sorting-marker">
	<tr>
	  <th>Missile</th>
	  <th>Overload</th>
	  <th>Speed</th>
	  <th>Explosive Mass</th>
	  <th>Range</th>
	  <th>Proxy</th>
	  <th>Leading</th> 
	</tr>
<!-- Sort the missiles by loadFactorMax -->
{{- range sort $sams "val.loadFactorMax" }}
<tr>
	<td data-sort-value="{{ .name }}">
		{{- .name -}}
	</td>
	<td data-sort-value="{{ if .val.loadFactorMax }}{{ .val.loadFactorMax }}{{ else }}0{{ end }}">
		{{- if .val.loadFactorMax }}
			{{- .val.loadFactorMax }}G
		{{- end }}
	</td>
	<td data-sort-value="{{ if .val.endSpeed }}{{ .val.endSpeed }}{{ else }}0{{ end }}">
		{{- .val.endSpeed }}m/s
	</td>
	<td data-sort-value="{{ if .val.explosiveType }}{{ mul (index $.Site.Data.gamedata.damage_model.explosive.explosiveTypes .val.explosiveType).strengthEquivalent .val.explosiveMass }}{{ else }}0{{ end }}">
		{{- if .val.explosiveType }}
			{{- $equiv := (index $.Site.Data.gamedata.damage_model.explosive.explosiveTypes .val.explosiveType)}}
			{{- partial "round.html" (dict "num" (mul $equiv.strengthEquivalent .val.explosiveMass) "power" 2 )}}Kg TNT
		{{- end }}
	</td>
	<td data-sort-value="{{ if .val.maxDistance }}{{ .val.maxDistance }}{{ else }}0{{ end }}">
		{{- .val.maxDistance }}m
	</td>
	<td data-sort-value="{{ if .val.proximityFuse }}{{ .val.proximityFuse.radius }}{{ else }}0{{ end }}">
		{{- if .val.proximityFuse }}
			{{- .val.proximityFuse.radius }}m
		{{- end }}
	</td>
	<td data-sort-value="{{ if .val.guidance }}{{ if .val.guidance.leading }}1{{ else }}0{{ end }}{{ else }}0{{ end }}">
		{{- if .val.guidance }}
			{{- .val.guidance.leading }}
		{{- end }}
	</td>
</tr>
{{- end }}
</table>
{{ partial "table-sort.html" . }}