{{- $prefix := .Get "nation"}}
{{- $entries := slice}}
{{- range $i, $val := $.Site.Data.gamedata.units.tankmodels }}
	{{- if and (and (hasPrefix $i $prefix) (not (in $i "_race"))) (not (in $i "_cup"))}}
		{{- if .modifications.night_vision_system }}
			{{- $cost := 0 }}
			{{- $presetname := (strings.TrimSuffix "_default" $val.weapon_presets.preset.name) }}

			{{- if (index $.Site.Data.config.wpcost $i)}}
				{{- $cost = (index $.Site.Data.config.wpcost $i).economicRankHistorical}}
			{{- end }}
			{{- if (index $.Site.Data.config.wpcost $presetname)}}
				{{- $cost = (index $.Site.Data.config.wpcost $presetname).economicRankHistorical}}
			{{- end }}

			{{- if $cost }}
				{{- $realcost := add (div (float $cost ) 3.0) 1.0}}
				{{- $br := partial "round.html" (dict "num" $realcost "power" 1 )}}
				{{- $entries = $entries | append (dict "i" $i "val" $val "br" $br)}}
			{{ end }}
		{{- end }}
	{{- end }}
{{- end }}

<table class="thermal" style="background: #141e24; min-width: max-content;margin: 0.3rem;">
	<tr>
	  <th>Tank</th>
	  <th></th>
	  <th style="vertical-align:middle;">BR</th>
	  <th><img style="width:1.5rem;" src="/gunner.svg"></th>
	  <th><img style="width:1.5rem;" src="/commander.svg"></th>
	  <th><img style="width:1.5rem;" src="/driver.svg"></th> 
	</tr>
{{- range sort $entries "br" "desc" }}
	{{- $name := partial "tankname.html" (dict "tankname" .i "presetname" (strings.TrimSuffix "_default" .val.weapon_presets.preset.name)) }}
	{{- if $name }} {{/*  If we couldn't find the tank's human readable name translations in `units.csv` chances are it doesn't actually exist in game  */}}
		<tr>
			<td style="text-align: left; padding-left:2%; padding-right:4% ;position:relative;width:12rem;vertical-align:middle;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;">
				<a href="https://wiki.warthunder.com/{{- strings.Replace $name " " "_" -1 -}}" target="_blank">{{- $name}}</a>
			</td>
			<td style="vertical-align:middle;">
				{{- if eq .val.type "typeTankDestroyer" }}
					<img style="width:1.2rem;" src="/destroyer_tank.svg">
				{{- end}}
				{{- if eq .val.type "typeMediumTank" }}
					<img style="width:1.2rem;" src="/medium_tank.svg">
				{{- end}}
				{{- if eq .val.type "typeHeavyTank" }}
					<img style="width:1.2rem;" src="/heavy_tank.svg">
				{{- end}}
				{{- if eq .val.type "typeLightTank" }}
					<img style="width:1.2rem;" src="/light_tank.svg">
				{{- end}}
				{{- if eq .val.type "typeSPAA" }}
					<img style="width:1.2rem;" src="/spaa_tank.svg">
				{{- end}}
			</td>
			<td style="width:3rem;vertical-align:middle;">
				{{- .br}}
			</td>
			{{- $nvs := .val.modifications.night_vision_system}}
			{{- range $i, $val := .val.modifications }}
				{{- if strings.Contains $i "upgrade_modification" }}
					{{- $nvs = $val }}
				{{- end }}
			{{- end }}
			{{- if .val.modifications.night_vision_system_upgrade_nv_to_thermal }}
				{{- $nvs = .val.modifications.night_vision_system_upgrade_nv_to_thermal }}
			{{- end }}
			{{- if $nvs.effects.nightVision.gunnerThermal }} <!-- Gunner  -->
				<td>{{- partial "thermalicon.html" (dict "isThermal" true "resolution" ($nvs.effects.nightVision.gunnerThermal.resolution)) -}} </td>
			{{- end }}
			{{- if $nvs.effects.nightVision.gunnerIr }}
				<td>{{- partial "thermalicon.html" (dict "isThermal" false "resolution" ($nvs.effects.nightVision.gunnerIr.resolution)) -}} </td>
			{{- end }}
			{{- if $nvs.effects.nightVision.commanderViewThermal }} <!-- Commander  -->
				<td>{{- partial "thermalicon.html" (dict "isThermal" true "resolution" ($nvs.effects.nightVision.commanderViewThermal.resolution)) -}} </td>
			{{- end }}
			{{- if $nvs.effects.nightVision.commanderViewIr }}
				<td>{{- partial "thermalicon.html" (dict "isThermal" false "resolution" ($nvs.effects.nightVision.commanderViewIr.resolution)) -}} </td>
			{{- end }}
			{{- if $nvs.effects.nightVision.driverThermal }} <!-- Driver  -->
				<td>{{- partial "thermalicon.html" (dict "isThermal" true "resolution" ($nvs.effects.nightVision.driverThermal.resolution)) -}} </td>
			{{- end }}
			{{- if $nvs.effects.nightVision.driverIr }}
				<td>{{- partial "thermalicon.html" (dict "isThermal" false "resolution" ($nvs.effects.nightVision.driverIr.resolution)) -}} </td>
			{{- end }}
		</tr>
	{{- end }}
{{- end }}
</table>
