@import 'colours.css';
@import 'typography.css';
@import 'layout.css';
@import 'header.css';
@import 'logo.css';
@import 'about.css';
@import 'footer.css';

body {
    background-color: var(--bg);
    color: var(--fg);
}

.thermal tr:nth-child(odd) td{
    background-color: #1e2c35
}
.thermal tr:nth-child(even) td{
    background-color: #141E24;
}
/* CSS */
.button-23 {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    box-sizing: border-box;
    color: #FFFFFF; 
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
  }
  
  .button-23:focus-visible {
    box-shadow: #FFFFFF 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }
  
  .button-23:active {
    background-color: #F7F7F7;
    color: #000000;
    border-color: #000000;
    transform: scale(.96);
  }
  
  .button-23:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }