@import 'colours.css';
@import 'typography.css';
@import 'layout.css';
@import 'header.css';
@import 'logo.css';
@import 'about.css';
@import 'footer.css';

body {
    background-color: var(--bg);
    color: var(--fg);
}

table tr:nth-child(odd) td{
    background-color: #1e2c35
}
table tr:nth-child(even) td{
    background-color: #141E24;
}